<header class="site-head">
    <h1 class="h2 mb-4 title">Youtube Downloader</h1>
    <p>Download any youtube video in multiple formats and quality with fast download</p>
</header>

<div class="container content-wrap">

    <div class="row justify-content-center align-items-start">

        <div class="col">

            <form class="down-form" name="youtube-download" method="post" action='/video'>
                <input type="url" name="url" placeholder="https://www.youtube.com/watch?v=kQW81ty6QFg" required class="form-control form-control-lg"/>
                <button type="submit" class="btn btn-success mt-3">Get Links</button>
            </form>

        </div>
    </div>
</div>
